*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  background:#07070b;
  color:white;
  font-family:Arial,sans-serif;
  min-height:100vh;
}

header{
  height:70px;
  display:flex;
  align-items:center;
  gap:12px;
  padding:0 6%;
  border-bottom:1px solid #252530;
}

.logo{
  width:42px;
  height:42px;
  display:grid;
  place-items:center;
  border-radius:12px;
  background:linear-gradient(135deg,#9b6cff,#5934ff);
  font-size:22px;
  font-weight:bold;
}

header b{
  display:block;
  font-size:18px;
}

header small{
  color:#888;
  font-size:9px;
  letter-spacing:2px;
}

main{
  width:min(1000px,90%);
  margin:auto;
  text-align:center;
  padding:80px 0;
}

.badge{
  display:inline-block;
  padding:8px 15px;
  border:1px solid #6846a8;
  border-radius:30px;
  color:#bda7ff;
  background:#171025;
  font-size:11px;
  letter-spacing:1px;
}

h1{
  margin-top:25px;
  font-size:clamp(42px,8vw,75px);
  line-height:1;
  letter-spacing:-4px;
}

h1 span{
  color:#9b6cff;
}

.intro{
  color:#9292a3;
  margin:22px 0 30px;
}

.search{
  width:min(550px,100%);
  padding:16px 20px;
  border:1px solid #292936;
  border-radius:14px;
  background:#111118;
  color:white;
  outline:none;
  font-size:15px;
  margin-bottom:65px;
}

h2{
  text-align:left;
  margin-bottom:20px;
  font-size:30px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
}

.grid button{
  min-height:160px;
  padding:24px;
  text-align:left;
  border:1px solid #272732;
  border-radius:18px;
  background:#111118;
  color:white;
  cursor:pointer;
  transition:.2s;
  font-size:25px;
}

.grid button:hover{
  transform:translateY(-5px);
  border-color:#8055e8;
  background:#171720;
}

.grid b{
  display:block;
  font-size:17px;
  margin-top:22px;
}

.grid small{
  display:block;
  color:#8d8d9e;
  font-size:13px;
  margin-top:7px;
}

#modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  align-items:center;
  justify-content:center;
  padding:20px;
}

#box{
  width:min(600px,100%);
  max-height:90vh;
  overflow:auto;
  background:#111118;
  border:1px solid #292936;
  border-radius:20px;
  padding:25px;
  position:relative;
}

#box>button{
  position:absolute;
  right:15px;
  top:10px;
  border:0;
  background:none;
  color:white;
  font-size:30px;
  cursor:pointer;
}

textarea,
#box input{
  width:100%;
  padding:14px;
  margin:10px 0;
  background:#07070b;
  color:white;
  border:1px solid #292936;
  border-radius:10px;
  outline:none;
}

textarea{
  min-height:180px;
}

.action{
  padding:12px 18px;
  border:0;
  border-radius:10px;
  background:#8055e8;
  color:white;
  cursor:pointer;
}

video{
  width:100%;
  border-radius:12px;
  background:black;
}

@media(max-width:700px){
  .grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:450px){
  .grid{
    grid-template-columns:1fr;
  }

  h1{
    font-size:43px;
  }
}
